//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 8px 10px;
	font-family: 'Russo One';
		font-weight: 400;
		font-size: rem(22);
		line-height: math.div(27, 22);
		text-align: center;

		color: #F1F1F1;
	&-big {
		background: #2194FF;
		box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
		border-radius: 11px;
		padding: rem(15) rem(60) rem(18) rem(60);
		border: 5px solid $mainBlue;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-image: url(@img/button-blue-line.png);
				box-shadow: none;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
	}
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
