%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-arrow:before {
	content: "\e91e";
}

._icon-arrow-bottom:before {
	content: "\e91f";
}

._icon-cloud:before {
	content: "\e920";
}

._icon-dotted-arrow:before {
	content: "\e921";
}

._icon-location:before {
	content: "\e922";
}

._icon-moon:before {
	content: "\e923";
}

._icon-snow:before {
	content: "\e924";
}

._icon-sun:before {
	content: "\e925";
}