//====================================================================================================
.header {
	// .header__top
	&__top {
		background-color: $mainDarkColor;
		color: #fff;
	}
}
.top-header {
	&__container {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	// .top-header__menu
	&__menu {
		flex: 1 1 auto;
	}
	// .top-header__user
	&__user {
	}
}
.menu {
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 60px;
		@include adaptiveValue("gap", 60, 20)
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		font-size: rem(16);

	}
}


.icon-menu {
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
